.node {
  cursor: pointer;
}

.overlay {
  background-color: #EEE;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 16px;
  font-family: sans-serif;
}

.link {
  fill: none;
  opacity: 0.3;
  stroke-width: 1px;
}

div.tooltip {
  position: absolute;
  text-align: left;
  font: bold 12px sans-serif;
  padding: 10px 20px;
  border-style: solid;
  border-radius: 1rem;
  border: 2px solid rgba(128, 128, 128, .9);
  box-shadow: 0 0 2px rgba(0, 0, 0, .8);
  background: rgba(248, 248, 248, 1.0);
  pointer-events: none;
}
